<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Django load the static file -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'grumblr/css/bootstrap.css' %}" type="text/css">
    <title></title>
</head>
<body>
    <div class="container" style="padding-top: 10px;">
        <div class="row" style="padding-left: 0px;">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding-left: 0px;">
                <input type="text" class="form-control" id="search" placeholder="Search" style="padding-left: 0px; width: 180px;float: left;">
                <button type="submit" class="btn btn-primary" style="float: left; margin-left: 20px; margin-right: auto">Search</button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-top: 120px; ">
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

                    </div>

                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style=" margin-left: auto; margin-right: auto">
                        <div class="row" style="background: blue; height: 250px;" >
                            <img src="{% static 'grumblr/img/u8.png' %}" class="img-responsive" alt="Image" style="margin: auto; margin-top: 30px;" >
                        </div>

                        <hr/>

                        <div class="table-responsive">

                            <!-- This form is used to log in -->
                            <form method="post" action="{% url 'django.contrib.auth.views.login' %}"> {% csrf_token %}
                                <table class="table table-hover" style="text-align: right; vertical-align: middle">

                                    <tbody>
                                    <tr>
                                        <td colspan="2" style="text-align: center">
                                            <p style="color: red;">
                                                {% if form.errors %}
                                                    <p style="color: red;">Your username and password didn't match. Please try again.</p>
                                                {% endif %}

                                                {% if next %}
                                                    {% if user.is_authenticated %}
                                                        <p style="color: red;">
                                                            Your account doesn't have access to this page. To proceed, please login with an account that has access.
                                                        </p>
                                                    {% else %}
                                                        <p style="color: red;">
                                                            Please login to see this page.
                                                        </p>
                                                    {% endif %}                                                 
                                                {% endif %} 

                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: middle">
                                            {{ form.username.label_tag }}
                                        </td>
                                        <td>
                                            {{ form.username }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align: middle">
                                            {{ form.password.label_tag }}
                                        </td>
                                        <td>
                                            {{ form.password }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="" id="">
                                                    Remember me
                                                </label>
                                            </div>
                                        </td>

                                        <td>
                                            <button type="submit" class="btn btn-primary" style="width: 200px;">Sign in</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <a type="submit" class="btn btn-primary" style="width: 100%;" href="{% url 'reset_password' %}">Forget username of password</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- The hidden value next -->
                                <input type="hidden" name="next" value="{{ next }}">
                            </form>
                        </div>
                    </div>

                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

                    </div>

                </div>

            </div>

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

                </div>

                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <a type="submit" class="btn btn-primary" style="width: 100%;" href="{% url 'registration' %}">Sign up</a>
                </div>

            </div>
        </div>
    </div>

</body>
</html>