<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Django load the static file -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'grumblr/css/bootstrap.css' %}" type="text/css">
    <title></title>
</head>
<body>
    <div class="container" style="padding-top: 10px;">
        <div class="row" style="padding-left: 0px;">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding-left: 0px;">
                <input type="text" class="form-control" id="search" placeholder="Search" style="padding-left: 0px; width: 180px;float: left;">
                <button type="submit" class="btn btn-primary" style="float: left; margin-left: 20px; margin-right: auto">Search</button>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-top: 120px; ">
                <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

                    </div>

                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style=" margin-left: auto; margin-right: auto">
                        <div class="row" style="background: blue; height: 250px;" >
                            <img src="{% static 'grumblr/img/u8.png' %}" class="img-responsive" alt="Image" style="margin: auto; margin-top: 30px;" >
                        </div>

                        <hr/>

                        <div class="table-responsive">

                            <!-- This form is used to log in -->
                            <form method="post" action="{% url 'reset_password' %}"> {% csrf_token %}
                                <table class="table table-hover" style="text-align: right; vertical-align: middle">

                                    <tbody>
                                    <tr>
                                        <td style="vertical-align: middle">
                                            {{ form.email.label_tag }}
                                        </td>
                                        <td>
                                            {{ form.email }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <button type="submit" class="btn btn-primary" style="width: 100%;">Send email</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- The hidden value next -->
                                <input type="hidden" name="next" value="{{ next }}">
                            </form>

                        </div>
                    </div>

                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

                    </div>

                </div>

            </div>

            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <a type="submit" class="btn btn-primary" style="width: 100%;" href="{% url 'login' %}">Sign in</a>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <a type="submit" class="btn btn-primary" style="width: 100%;" href="{% url 'registration' %}">Sign up</a>
                    </div>
                </div>
                    
            </div>
        </div>
    </div>

</body>
</html>